.heading {
    color: lightblue;
    text-align: center;
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,0.3);
    color: #fcfcfc;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}