html, body {
    margin: 0;
    height: 100%;
}

.landing-heading {
    color: #fcfcfc;
    text-align: center;
}

.landing {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    margin: 0;
    height: 100%;
}