<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Tutor Me</title>
        {% load bootstrap5 %}
        {% bootstrap_css %}
        {% bootstrap_javascript %}
        {% bootstrap_messages %}

        {% load socialaccount %}

        <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.min.js"></script>

        {% load static %}
        <link rel="stylesheet" href="{% static 'tutorme/index.css' %}" />

        {% load static %} 
        <script src="{% static 'tutorme/request.js' %}" async></script>
    </head>

    <body>
        <div style="margin: 0; padding: 0;">
            <div class="row" style="width: 100%;">
                <div class="col">
                    {% include "tutorme/navMenu.html" %}
                </div>
                <div class="col-9">
                    <div class="d-flex justify-content-center flex-wrap" style="gap: 10px;">
                        <div class="card w-100 mt-2" style ="font-size: large;">
                            <div class="card-body">
                                <h4 class="display-5 heading">Edit Profile</h1>
                              <h6 class="text-black-100 fs-3" >{{ user.first_name }}  {{ user.last_name }}</h6>
                              <h6 class="text-muted" >{{ user.email }}</h6>

                              <!-- year dropdown, class search and description on what they need help in, about me/fun facts (major, hobbies, fun facts, favorite things) -->

                              <form method="post">
                                {% csrf_token %}
                                <!-- <h4 style="padding-top: 20px">Personal Information</h6> -->
                                
                                <!-- <h6 style="padding-top: 20px">Year at UVA</h6>
                                <select class="form-select" aria-label="uva-year">
                                    <option selected>Select</option>
                                    <option value="first">1st Year</option>
                                    <option value="second">2nd Year</option>
                                    <option value="third">3rd Year</option>
                                    <option value="fourth">4th Year</option>
                                    <option value="grad">Graduate</option>
                                </select> -->

                                <!-- maybe add a search feature to add a class you want help with? -->

                                <!-- <h6 style="padding-top: 20px">Description</h6>
                                <div class="mb-3">
                                    <textarea class="form-control" id="help-description" rows="3"></textarea>
                                    <div class="form-text">Please provide a description of what you would like your tutor to help you with</div>
                                </div> -->

                                <!-- <h6 style="padding-top: 20px">About Me</h6>
                                <div class="mb-3">
                                    <textarea class="form-control" id="fun-facts" rows="5"></textarea>
                                    <div class="form-text">Use this space to tell potential tutors about yourself! You can include information such as your major, hobbies, favorite things, etc.</div>
                                </div> -->

                                <h6 class="text-black-100 fs-3">Year at UVA</h6> {{ profile_form.year }}
                                <h6 class="text-black-100 fs-3">What I Need Help With</h6> {{ profile_form.help_description }}
                                <h6 class="text-black-100 fs-3">About Me</h6> {{ profile_form.bio }}
                              

                                <!-- <input class="btn btn-primary" type="submit" style="background-color: blue" value="Save Changes">
                                <input class="btn btn-primary" type="reset" style="background-color: gray" value="Cancel"> -->

                                <!-- https://dev.to/earthcomfy/django-update-user-profile-33ho -->

                               <!----<button type="submit" class="btn btn-primary" style="background-color: blue">Save Changes</button> -->
                                <button type="submit" class="btn btn-primary" style="background-color: rgb(228, 231, 233)"><a href="/tutorme/profile/">Save Changes</a></button> 
                                <button type="reset" class="btn btn-primary" style="background-color: gray">Cancel</button>

                              </form>

                            </div>
                        </div>
                    </div>
                </div>                
            </div>
        </div>
    </body>

</html>