<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Tutor Me</title>
        {% load bootstrap5 %}
        {% bootstrap_css %}
        {% bootstrap_javascript %}
        {% bootstrap_messages %}

        {% load socialaccount %}

        <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.min.js"></script>

        {% load static %}
        <link rel="stylesheet" href="{% static 'tutorme/index.css' %}" />

        {% load static %} 
        <script src="{% static 'tutorme/request.js' %}" async></script>
    </head>

    <body>
        <div style="margin: 0; padding: 0;">
            <div class="row" style="width: 100%;">
                <div class="col">
                    {% include "tutorme/navMenu.html" %}
                </div>
                <div class="col-9">
                    <div class="d-flex justify-content-center flex-wrap" style="gap: 10px;">
                        <div class="card w-100 mt-2" style ="font-size: large;">
                            <div class="card-body">
                            <h4 class="display-5 heading">Edit Profile</h1>

                              <form method="post" action="/tutorme/profile/">
                                {% csrf_token %}

                                <h6 class="text-black-100 fs-3">Year at UVA</h6> 
                                    <select id="year-in-college" name="year_in_college" required>
                                        <option value="" disabled selected>Choose year in college</option>
                                        <option value="1">Freshman</option>
                                        <option value="2">Sophomore</option>
                                        <option value="3">Junior</option>
                                        <option value="4">Senior</option>
                                    </select>
                                <h6 class="text-black-100 fs-3" style="padding-top: 20px;">What I Need Help With</h6> 
                                <textarea name="student_help_description" id="edit-student-help-description-textbox" class="form-control" rows="5" placeholder="Enter what you need help with here" required></textarea>
                                <h6 class="text-black-100 fs-3" style="padding-top: 20px;">About Me</h6>
                                <textarea name="student_bio" id="edit-student-bio-textbox" class="form-control" rows="5" placeholder="Enter your bio here" required></textarea>

                                <div class = 'buttons' style=" margin-top: 20px;">
                                    <button type="submit" class="btn btn-primary student-profile-edit-button" >Save Changes</button> 
                                    <a href="/tutorme/profile/" class="btn btn-danger">Cancel</a>
                                </div>
                                
                              </form>

                            </div>
                        </div>
                    </div>
                </div>                
            </div>
        </div>
    </body>

</html>