<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Tutor Me</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% bootstrap_messages %}

    {% load socialaccount %}

    {% load static %}
    <link rel="stylesheet" href="{% static 'tutorme/index.css' %}" />
  </head>

  <body>
    <h1 class="display-1 heading">Welcome to Tutor Me!</h1>
    {% if user.is_authenticated %}
    <div class="d-flex justify-content-center">
      <div class="d-flex flex-column">
        <div><p>Welcome, You are logged in as {{ user.username }}</p></div>
        <div></div><a href="{% url 'account_logout' %}" style="text-align: center;">Logout</a></div>
      </div>
    </div>
    {% else %}
      <div class="d-flex justify-content-center">
        <a href="{% provider_login_url 'google' %}">Login With Google</a>
      </div>
    {% endif %}
  </body>
</html>
