<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Tutor Me</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% bootstrap_messages %}

    {% load socialaccount %}

    {% load static %}
    <link rel="stylesheet" href="{% static 'tutorme/index.css' %}" />
    {% load static %}
    <link rel="stylesheet" href="{% static 'tutorme/landing_page.css' %}" />
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0/css/bootstrap.min.css" /> 
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.3/css/dataTables.bootstrap5.min.css" />

    
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.13.3/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.3/js/dataTables.bootstrap5.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.min.js"></script>

    {% load static %} 
    <script src="{% static 'tutorme/table.js' %}"></script>
    {% load static %} 
    <script src="{% static 'tutorme/request.js' %}" async></script>
    {% load static %} 
    <script src="{% static 'tutorme/studentNav.js' %}" async></script>
    
  </head>

  <body>
    
    {% if user.is_authenticated %}
      
      {% if user.appuser.user_type == 1 %}
        {% include "tutorme/studentView.html" %}
      {% elif user.appuser.user_type == 2 %}
        {% include "tutorme/tutorView.html" %}
      {% else %}
        <p>ERROR: Invalid Entry For User Type</p>
        <a href="{% url 'account_logout' %}" style="text-align: center;">Logout</a>
      {% endif %}
    
    {% else %}
    <div class="landing">
      <h1 class="display-1 heading" style="padding-top: 30px;">Welcome</h1>
      <div class="d-flex justify-content-center">

        <div class="container login-container" style="width: 40%; height: 400px;">
          {% load static %}
          <img src="{% static 'tutorme/logo-no-background.png' %}" alt="My image" height="10%" style="margin-bottom: 50px;">
          <h1>Login to Continue</h1>
          <p>Find tutors for your classes</p>
          <a class="btn btn-outline-dark" href="{% provider_login_url 'google' %}" role="button" style="text-transform:none">
            <img width="20px" style="margin-bottom:3px; margin-right:5px" alt="Google sign-in" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png" />
            <span style="color: white;">Login with Google</span>
          </a>
        </div>
        
      </div>
      <footer class="fixed-bottom">
        <div class="text-center p-4" style="background-color: #fcfcfc;">
          <span style="color: black">© 2023 Copyright</span>
          <a class="fw-bold" href="#" style="color: black; text-decoration: none;">Tutor Me</a>
        </div>
      </footer>
    </div>
    {% endif %}
  </body>
</html>
