<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Tutor Me</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% bootstrap_messages %}

    {% load socialaccount %}

    {% load static %}
    <link rel="stylesheet" href="{% static 'tutorme/index.css' %}" />
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0/css/bootstrap.min.css" /> 
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.3/css/dataTables.bootstrap5.min.css" />

    {% load static %} 
    <script src="{% static 'tutorme/table.js' %}"></script>
    
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.13.3/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.3/js/dataTables.bootstrap5.min.js"></script>
  </head>

  <body>
    <h1 class="display-1 heading">Welcome to Tutor Me!</h1>
    {% if user.is_authenticated %}
      
      {% if user.appuser.user_type == 1 %}
        {% include "tutorme/studentView.html" %}
      {% elif user.appuser.user_type == 2 %}
        {% include "tutorme/tutorView.html" %}
      {% else %}
        <p>ERROR: Invalid Entry For User Type</p>
        <a href="{% url 'account_logout' %}" style="text-align: center;">Logout</a>
      {% endif %}
    
    {% else %}
      <div class="d-flex justify-content-center">
        <a href="{% provider_login_url 'google' %}">Login With Google</a>
      </div>
    {% endif %}
  </body>
</html>
