<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Tutor Me</title>
        {% load bootstrap5 %}
        {% bootstrap_css %}
        {% bootstrap_javascript %}
        {% bootstrap_messages %}

        {% load socialaccount %}

        <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.min.js"></script>

        {% load static %}
        <link rel="stylesheet" href="{% static 'tutorme/index.css' %}" />

        {% load static %} 
        <script src="{% static 'tutorme/request.js' %}" async></script>
    </head>

    <body>
        <div style="margin: 0; padding: 0;">
            <div class="row" style="width: 100%;">
                <div class="col">
                    {% include "tutorme/navMenu.html" %}
                </div>
                <div class="col-9">
                    <div class="d-flex justify-content-center flex-wrap" style="gap: 10px;">
                        <div class="card w-100 mt-2" style ="font-size: large;">
                            <div class="card-body">
                                <div style="display: flex; align-items: center; justify-content: space-between;">
                                    <h5 class="display-5 heading">{{ user.username }}'s Student Profile</h1>
                                    <a href='/tutorme/profile/edit' style="text-align: center;">Edit</a>
                                </div>
                                <img src="{{ user.socialaccount_set.all.0.get_avatar_url }}" />
                              <h6 class="text-black-100 fs-3" >{{ user.first_name }}  {{ user.last_name }}</h6>
                                {% if year == '1' %}
                                <h6 class="text-muted" >{{ year }}st year</h6>
                                {% elif year == '2' %}
                                <h6 class="text-muted" >{{ year }}nd year</h6>
                                {% elif year == '3' %}
                                <h6 class="text-muted" >{{ year }}rd year</h6>
                                {% else %}
                                <h6 class="text-muted" >{{ year }}th year</h6>
                                {% endif %}
                              <h6 class="text-muted" >{{ user.email }}</h6>
                              <!--
                                  maybe create a new model so tutors can add a little bio for their profile
                                  <h6 class="text-black-100">About myself: Add new model with tutor intro to put here</h6>
                              -->
                            </div>
                        </div>
                    </div>
                    <h6 class="text-black-100" style="font-size: xx-large; padding-top: 20px;">About Me</h6>
                    <div class="d-flex justify-content-start flex-wrap" style="gap: 10px;">
                        {% for bio in bio_list%}  
                        <div class="card" style="width: 100%;">
                            <div class="card-body">
                                <h6 class="text-black-50">{{bio.bio}}</h6>
                            </div>
                            </div>
                        {% endfor %}
                    </div>
                    <h6 class="text-black-100" style="font-size: xx-large; padding-top: 20px;">What I Need Help With</h6>
                    <div class="d-flex justify-content-start flex-wrap" style="gap: 10px;">
                        <div class="card" style="width: 100%;">
                            <div class="card-body">
                                <h6 class="text-black-50">{{help_description}}</h6>
                            </div>
                            </div>
                    </div>
                    <h6 class="text-black-100" style="font-size: xx-large; padding-top: 20px;">Courses Requested</h6>
                    <div class="d-flex justify-content-start flex-wrap" style="gap: 10px;">
                        {% for classes in courses_requested %}
                        <div class="card" style="width: 18rem;">
                            <div class="card-body">
                              <h6 class="text-black-50">{{classes.course }}</h6>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    
                    <div></div></div>
                </div>                
            </div>
        </div>
    </body>

</html>