<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Tutor Me</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% bootstrap_messages %}

    {% load socialaccount %}

    {% load static %}
    <link rel="stylesheet" href="{% static 'tutorme/index.css' %}" />
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0/css/bootstrap.min.css" /> 
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.3/css/dataTables.bootstrap5.min.css" />

    
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.13.3/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.3/js/dataTables.bootstrap5.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    {% load static %} 
    <script src="{% static 'tutorme/table.js' %}"></script>
    {% load static %} 
    <script src="{% static 'tutorme/request.js' %}" async></script>
    {% load static %} 
    <script src="{% static 'tutorme/studentNav.js' %}" async></script>
    
  </head>

  <body>
    <div style="margin: 0; padding: 0;">
        <div class="row" style="width: 100%;">
    
            <div class="col">
                {% include "tutorme/navMenuTutor.html" %}
            </div>
            <div class="col-9">
                <div>
                    <div class="d-flex justify-content-center">
                        <div clas="d-flex flex-column">
                            <h1 class="display-1 heading"> Add Classes</h1>
                            <h3 style="text-align: center;">Search for a class to add</h1>
                        </div>
                    </div>
                    
                    <div class="d-flex justify-content-center">
                        <div class="d-flex flex-column text-center">
                            <form class="form-inline my-2 my-lg-0">
                                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="search" >
                                <div style="padding: 10px;"><button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button></div>
                            </form>
                        </div>
                    </div>
                    
                    {% if classList %}
                        <div class="d-flex justify-content-center">
                            <div class="d-flex flex-column text-center">
                                <table id="example" class="table table-striped" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th>Subject</th>
                                            <th>Catalog Number</th>
                                            <th>Section</th>
                                            <th>Name</th>
                                            <th>Instructor</th>
                                            <th>Request</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for section in classList %}
                                            <tr>
                                                <td>{{section.subject}}</td>
                                                <td>{{section.catalog}}</td>
                                                <td>{{section.section}}</td>
                                                <td>{{section.class_name}}</td>
                                                <td>{{section.instructor}}</td>
                                                {% csrf_token %}
                                                <td><button type="submit" class="btn btn-secondary tutor-add-class-request-button" course="{{ section.class_name }}">Add</button></td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    {% else %}
                        <div class="d-flex justify-content-center">
                            <div class="d-flex flex-column text-center">
                                <p>No Classes Found</p>
                            </div>
                        </div>
                    {% endif %}  
                    <br>
                </div>
            </div>
        </div>
    </div>
    
    <div class="modal fade" id="availability_modal" tabindex="-1" role="dialog" aria-labelledby="availabilityModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg  modal-dialog-centered" style="left: 10%;" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Set Available Times</h5>
                </div>
                <div class="modal-body">
                    <form id="availabilityForm">
                        <div class="form-group monday-available-times">
                            <label for="monday" style="font-weight: bold;">Monday:</label><br>
                            <input type="checkbox" id="monday_morning" value="morning">
                            <label for="monday_morning">Morning (9:00 AM - 12:00 PM)</label><br>
                            <input type="checkbox" id="monday_afternoon" value="afternoon">
                            <label for="monday_afternoon">Afternoon (12:00 PM - 5:00 PM)</label><br>
                            <input type="checkbox" id="monday_evening" value="evening">
                            <label for="monday_evening">Evening (5:00 PM - 9:00 PM)</label><br>
                            <input type="checkbox" id="monday_night" value="night">
                            <label for="monday_night">Night (9:00 PM - 12:00 AM)</label>
                        </div><br>
                        <div class="form-group tuesday-available-times">
                            <label for="tuesday" style="font-weight: bold;">Tuesday:</label><br>
                            <input type="checkbox" id="tuesday_morning" value="morning">
                            <label for="tuesday_morning">Morning (9:00 AM - 12:00 PM)</label><br>
                            <input type="checkbox" id="tuesday_afternoon" value="afternoon">
                            <label for="tuesday_afternoon">Afternoon (12:00 PM - 5:00 PM)</label><br>
                            <input type="checkbox" id="tuesday_evening" value="evening">
                            <label for="tuesday_evening">Evening (5:00 PM - 9:00 PM)</label><br>
                            <input type="checkbox" id="tuesday_night" value="night">
                            <label for="tuesday_night">Night (9:00 PM - 12:00 AM)</label>
                        </div><br>
                        <div class="form-group wednesday-available-times">
                            <label for="wednesday" style="font-weight: bold;">Wednesday:</label><br>
                                <input type="checkbox" id="wednesday_morning" value="morning">
                                <label for="wednesday_morning">Morning (9:00 AM - 12:00 PM)</label><br>
                                <input type="checkbox" id="wednesday_afternoon" value="afternoon">
                                <label for="wednesday_afternoon">Afternoon (12:00 PM - 5:00 PM)</label><br>
                                <input type="checkbox" id="wednesday_evening" value="evening">
                                <label for="wednesday_evening">Evening (5:00 PM - 9:00 PM)</label><br>
                                <input type="checkbox" id="wednesday_night" value="night">
                                <label for="wednesday_night">Night (9:00 PM - 12:00 AM)</label>
                        </div><br>
                        <div class="form-group thursday-available-times">
                            <label for="thursday" style="font-weight: bold;">Thursday:</label><br>
                                <input type="checkbox" id="thursday_morning" value="morning">
                                <label for="thursday_morning">Morning (9:00 AM - 12:00 PM)</label><br>
                                <input type="checkbox" id="thursday_afternoon" value="afternoon">
                                <label for="thursday_afternoon">Afternoon (12:00 PM - 5:00 PM)</label><br>
                                <input type="checkbox" id="thursday_evening" value="evening">
                                <label for="thursday_evening">Evening (5:00 PM - 9:00 PM)</label><br>
                                <input type="checkbox" id="thursday_night" value="night">
                                <label for="thursday_night">Night (9:00 PM - 12:00 AM)</label>
                        </div><br>
                        <div class="form-group friday-available-times">
                            <label for="friday" style="font-weight: bold;">Friday:</label><br>
                            <input type="checkbox" id="friday_morning" value="morning">
                                <label for="friday_morning">Morning (9:00 AM - 12:00 PM)</label><br>
                                <input type="checkbox" id="friday_afternoon" value="afternoon">
                                <label for="friday_afternoon">Afternoon (12:00 PM - 5:00 PM)</label><br>
                                <input type="checkbox" id="friday_evening" value="evening">
                                <label for="friday_evening">Evening (5:00 PM - 9:00 PM)</label><br>
                                <input type="checkbox" id="friday_night" value="night">
                                <label for="friday_night">Night (9:00 PM - 12:00 AM)</label>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger modal-close-button" data-dismiss="modal">Close</button>
                    <button class="btn btn-primary modal-submit-button">Save</button>
                </div>
            </div>
        </div>
    </div>
    
   
    
</div>
  </body>
</html>