<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Tutor Me</title>
        {% load bootstrap5 %}
        {% bootstrap_css %}
        {% bootstrap_javascript %}
        {% bootstrap_messages %}

        {% load socialaccount %}

        <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.min.js"></script>

        {% load static %}
        <link rel="stylesheet" href="{% static 'tutorme/index.css' %}" />

        {% load static %} 
        <script src="{% static 'tutorme/request.js' %}" async></script>
    </head>

    <body>
        <div style="margin: 0; padding: 0;">
            <div class="row" style="width: 100%;">
                <div class="col">
                    {% include "tutorme/navMenuTutor.html" %}
                </div>

                <div class="col-9">
                    <h1 class="heading" style="margin-top: 2%;">Chat with {{message_from}}</h1>
                    <div style="height: 70%; overflow-y:auto">
                        {% for message in message_list %}
                            {% if message.message_type == 1 %}
                                <div class="card text-white bg-secondary" style="width: 18rem;">
                                    <div class="card-body">
                                        <p class="card-text">{{ message.message_text }}</p>
                                    </div>
                                </div>
                            {% elif message.message_type == 2%}
                                <div class="card text-white bg-primary" style="width: 18rem; margin-right: 0; margin-left: auto;">
                                    <div class="card-body">
                                        <p class="card-text">{{ message.message_text }}</p>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div style="width: 100%;">
                    <form method="post" action="/tutorme/tutor/chats/viewchat/?id={{chat_id}}" style="position: fixed; bottom: 0; width: 75%; background-color: white; padding: 10px;">
                        {% csrf_token %}
                        <div style="display: flex; align-items: center; justify-content: center; margin-bottom: 2%;">
                            <input name="message" type="text"  id="message" class="form-control" placeholder="Message"/>
                            <button type="submit" class="btn btn-primary mb-2" style="margin-left: 1%; margin-right: 5%;">Send</button>
                        </div>
                    </form>
                    </div>
                </div>
            </div>
        </div>
    </body>

</html>