<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Tutor Me</title>
        {% load bootstrap5 %}
        {% bootstrap_css %}
        {% bootstrap_javascript %}
        {% bootstrap_messages %}

        {% load socialaccount %}

        <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.min.js"></script>

        {% load static %}
        <link rel="stylesheet" href="{% static 'tutorme/index.css' %}" />

        {% load static %} 
        <script src="{% static 'tutorme/request.js' %}" async></script>
    </head>

    <body>
        <div style="margin: 0; padding: 0;">
            <div class="row" style="width: 100%;">
                <div class="col">
                    {% include "tutorme/navMenuTutor.html" %}
                </div>

                <div class="col-9">
                    <h1 class="display-1 heading"> My Classes</h1>
                    <div class="d-flex justify-content-center flex-wrap" style="gap: 10px;">
                    <div class="row">
                        {% for course in course_list %}
                             <div class="col-md-4">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">{{ course.0 }}</h5>
                                            <hr>
                                                <h6 class="card-subtitle mb-2 text-muted">Available Times:</h6>
                                                <ul class="list-unstyled">
                                                    {% for key, value in course.1.items %}
                                                        <li><strong>{{ key }}:</strong> {{ value }}</li>
                                                    {% endfor %}
                                                </ul>
                                            <hr>
                                            <div class="text-center">
                                                {% csrf_token %}
                                                <button type="submit" class="btn btn-danger tutor-class-card-remove-button" course="{{ course.0 }}">Remove</button>
                                            </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </body>

</html>
