<div style="margin: 0; padding: 0;">
    <div class="row" style="width: 100%;">
        <div class="col">
            {% include "tutorme/navMenuTutor.html" %}
        </div>

        <div class="col-9">
            <h1 class="display-1 heading">Welcome to Tutor Me</h1>
            <h1 style="text-align: center;">Your Upcoming Sessions</h1>
            <div><p style="text-align: center;">Welcome, You are logged in as {{ user.username }}</p></div>
            
            {% if request_list %}
            <div class="d-flex justify-content-center flex-wrap" style="gap: 10px;">
                {% for request in request_list %}
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                      <div style="display: flex; justify-content: space-between;">
                        <h4>{{ request.day_name }}</h4>
                        <h4>{{ request.day_num }}</h4>
                      </div>
                      
                      <h5 class="card-title">{{ request.student_name }}</h5>
                      <h6 class="text-black-50">username: {{ request.from_student }}</h6>
                      <h6 class="text-black-50">{{ request.student_email }}</h6>
                      <h6 class="text-black-50">date: {{ request.date }}</h6>
                      <h6 class="text-black-50">time: {{ request.start }} to {{ request.end }}</h6>
                      <p class="card-text">Class: {{ request.course }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% else %}
                <div><p style="text-align: center;">You have no upcoming sessions</p></div>
            {% endif %}

        </div>
    </div>
</div>
